FLASK_SECRET_KEY="{{ report_flask_key }}"
BASEROW_TOKEN="{{ report_baserow_token }}"
BASEROW_TEMPLATE_TABLE_ID=835
BASEROW_CASE_TABLE_ID=579
BASEROW_SNIPPET_TABLE_ID=836
BASEROW_URL="https://phenotips.charite.de"
